.nav_header {
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00a0a0;
    color: white;
    font-weight: 600;
}

.content {
    display: flex;
    margin: 70px auto 30px;
    padding: 0 16px;
    flex-direction: column;
    align-items: stretch;
}
