tr button {
    padding-left: .5rem;
    padding-right: .5rem;
}

tr button ~ button {
    margin-left: 10px;
}

.active {
    color: white;
    background-color: #55b0b0;
    font-weight: 500;
}

.info {
    display: none;
    color: black;
    font-weight: initial;
    width: 100%;
    background-color: #eee;
    padding: 20px 30px;
}

.active .info {
    display: block;
}
